@import '../../sassStyles/variables';

$navColor: #444444;

.nav-bar {
  height: 4.5em;
  width: 100%;
  background-color: $navColor;
  padding: 0.8em;
  display: flex;
  align-items: center;

  img {
    height: 1.875em;
    width: auto;
  }

  figure {
    flex: 1;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav__btn-primary {
    border: 2px solid white;
    border-radius: 50px;
  }

  .nav-profile {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 2em;
    color: white;
  }

  h4 {
    font-size: 1.1rem;
  }

  #nav-avatar {
    width: 50px;
    height: 50px;
    clip-path: circle(50%);
  }
}
