@import '../../sassStyles/variables';
@import '../../sassStyles/animations';
@import '../../sassStyles/mixins';

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);

  & > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay {
    background-image: linear-gradient(
      to right bottom,
      $primaryShade2Color,
      $primaryShade1Color
    );
    opacity: 0.7;
  }

  .text-container {
    width: 100%;
    padding: 25% 5%;
    color: white;
    position: relative;

    @include mdMinBreakPoint {
      padding-top: 20%;
    }

    @include xlMinBreakPoint {
      width: 50%;
      padding: 10% 5%;
    }

    h1 {
      line-height: 1;
      letter-spacing: 1px;
      color: $secondaryLight1Color;
      text-shadow: $secondaryDark1Color 1px 1px;
      text-align: center;

      @include xlMinBreakPoint {
        text-align: left;
        font-size: 3.875rem;
      }
    }

    .text-wrapper {
      width: 100%;
      margin-top: 1.475em;
      text-align: center;
      display: block;

      @include xlMinBreakPoint {
        text-align: left;
      }

      p {
        // margin: 0.875em 0 5em 0;
        margin: 0 auto;
        line-height: 1.5;
        letter-spacing: 2px;
        max-width: 70%;

        @include xlMinBreakPoint {
          margin: 10px 0;
        }
      }
    }

    .arrows {
      h3 {
        font-weight: 900;
        position: absolute;
        top: -1.275em;
        left: -7em;
        font-size: 1.275rem;
        letter-spacing: 3px;
        color: #1d4d55ea;
        width: 17em;

        @include smMinBreakPoint {
          font-size: 1.675rem;
        }

        @include mdMinBreakPoint {
          left: -6.575em;
          font-size: 2rem;
        }
      }
      position: relative;
      position: absolute;
      bottom: 10em;
      left: 50%;

      width: $size;
      height: $size;
      transform: translate(-50%, -50%);

      @include xlMinBreakPoint {
        left: unset;
        right: 0;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
        border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
        transform: translate($size/3, $size * 4/3) rotate(-45deg);
        animation: arrows $speed linear infinite;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
        border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
        transform: translate($size * 2/3, 0px) rotate(-45deg);
        animation: arrows $speed linear infinite $speed/-2;
      }
    }
  }
}
